<header>
  <nav class="navbar {%- unless include.clear %} bg-dark shadow {%- endunless -%}">
    {%- for item in site.data.navigation -%}
      <a class="nav-link 
        {% if item.link == '/' and page.url == '/' -%}
          active
        {%- else -%}
          {%- assign arr = page.url | split: '/' -%}
          {%- if item.link contains arr[1] -%}
            active
          {%- endif -%}
        {%- endif -%}" 
        href="{{ item.link | relative_url }}">{{ item.name }}</a>
    {%- endfor -%}
  </nav>
</header>