<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

  <title>{%- if page.title -%} {{ page.title }} | {% endif -%} {{ site.title }}</title>
  {%- seo title=false -%}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {%- if page.css -%}
    <link rel="stylesheet" href="{{ '/assets/css/' | append: page.css | append: '.css' | relative_url }}">
  {%- endif -%}

  <script src="https://kit.fontawesome.com/43c0d4308e.js"></script>

  {%- feed_meta -%}
</head>
