@import 'material-shadow';

.box {
  position: relative;
  height: 100px;

  .box-content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 1.5rem;
    border-radius: .25rem;
    background-color: transparent;
    z-index: 0;
    transition: box-shadow .3s $ease, background-color .3s $ease, z-index 0s .3s;

    &.active {
      @extend %elevation-6;
      background-color: $light;
      z-index: 810;
      transition: box-shadow .3s $ease, background-color .3s $ease;

      .box-options {
        opacity: 1;
        visibility: visible;
        transition: opacity .3s;
      }
    }

    .box-content-item {
      text-align: center;
      margin-bottom: 1rem;
    }

    .box-options-toggle {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      padding: .25rem;
      border: none;
      font-size: 1.1rem;
      background-color: transparent;
      box-shadow: none;
      transition: opacity .3s $ease;
  
      &:hover, &:active, &:focus {
        opacity: .5;
      }
    }
  
    .box-options {
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s, visibility 0s .3s;

      input {
        width: auto;
      }
    }
  }
}
