---
---

@import 'variables';
@import 'box-options';

// Transition
$td: .2s;
$te: ease-out;

$border-width: 3px;

// Reset some button style to base
button {
  font-size: 1.1rem;
  margin-bottom: .25rem;
  width: 100%;
  color: $dark;
  background-color: $light;
  box-shadow: none;
  transition: none;

  &:hover, &:active {
    box-shadow: none;
    background-color: $light;
  }

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.btn-slide {
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: $dark;
  transition: color $td $te;
  
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent;
    transition: transform $td $te;
  }

  &.left::before {
    transform: translateX(-100%);
  }
  &.right::before {
    transform: translateX(100%);
  }
  &.top::before {
    transform: translateY(-100%);
  }
  &.bottom::before {
    transform: translateY(100%);
  }

  &:hover, &:active, &:focus {
    color: $light;

    &.left::before, &.right::before {
      transform: translateX(0);
    }
    &.top::before, &.bottom::before {
      transform: translateY(0);
    }
  }
}

.btn-line {
  position: relative;
  border: none;
  
  &::after {
    content: '';
    position: absolute;
    background-color: $accent;
    transition: transform $td $te;
  }

  &.left::after {
    top: 0;
    left: 0;
    width: $border-width;
    height: 100%;
    transform: scaleY(0);
  } 
  &.right::after {
    top: 0;
    right: 0;
    width: $border-width;
    height: 100%;
    transform: scaleY(0);
  } 
  &.top::after {
    top: 0;
    left: 0;
    width: 100%;
    height: $border-width;
    transform: scaleX(0);
  } 
  &.bottom::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: $border-width;
    transform: scaleX(0);
  }

  &:hover, &:active, &:focus {
    &.left::after, &.right::after {
      transform: scaleY(1);
    }
    &.top::after, &.bottom::after {
      transform: scaleX(1);
    }
  }
}

.btn-fade {
  transition: color $td $te, background-color $td $te;

  &:hover, &:active, &:focus {
    color: $light;
    background-color: $accent;
  }
}

.btn-pulse {
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $accent;
  }

  &.fill::before {
    background-color: $accent;
  }

  &:hover, &:active, &:focus {
    &::before {
      animation: pulse ($td * 3) $te;
    }
  }

  @keyframes pulse {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }
}

.btn-reveal {
  position: relative;

  .text-1 {
    opacity: 1;
    transition: opacity $td $td $te;
  }

  .text-2 {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity $td $te;
  }

  &:hover, &:active, &:focus {
    .text-1 {
      opacity: 0;
      transition: opacity $td $te;
    }

    .text-2 {
      opacity: 1;
      transition: opacity $td $td $te;
    }
  }
}

.btn-highlight {
  position: relative;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 0 50px 50px rgba($accent, .5);
    transition: opacity $td $te;
  }
}

.btn-shiny {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -20%;
    left: 0;
    width: 20%;
    height: 140%;
    background-color: rgba($accent, .5);
    box-shadow: 0 0 15px $accent;
    transform: translateX(-200%) skew(-30deg);
  }

  &:hover, &:active, &:focus {
    &::after {
      animation: shiny ($td * 3) $te;
    }
  }

  @keyframes shiny {
    from {
      transform: translateX(-200%) skew(-30deg);
      left: 0;
    }
    to {
      transform: translateX(200%) skew(-30deg);
      left: 100%;
    }
  }
}

.btn-tilt {
  transition: transform $td $te;

  &:hover, &:active, &:focus {
    &.left {
      transform: rotate(-10deg);
    }
    &.right {
      transform: rotate(10deg);
    }
  }
}

.btn-loading-line {
  position: relative;
  overflow: hidden;

  &.top::after, &.bottom::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: $border-width;
    background-color: $accent;
    transform: translateX(-60%) scaleX(.2);
  }

  &.top::after {
    top: 0;
  }

  &.bottom::after {
    bottom: 0;
  }

  &:hover, &:active, &:focus {
    &.top::after, &.bottom::after {
      animation: loading-line ($td * 5) linear infinite;
    }
  }

  @keyframes loading-line {
    from, 20% {
      transform: translateX(-60%) scaleX(.2);
    }
    50% {
      transform: scaleX(.7);
    }
    80%, to {
      transform: translateX(60%) scaleX(.2);
    }
  }
}

.btn-levitate {
  position: relative;
  transform-style: preserve-3d;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 120%;
    left: 50%;
    box-shadow: 0 0 50px 50px rgba($dark, .5);
    transform: translateX(-50%) translateY(0) rotateX(85deg) scale(1);
  }

  &:hover, &:active, &:focus {
    animation: levitate ($td * 7) ease-in-out alternate infinite;

    &::before {
      animation: levitate-shadow ($td * 7) ease-in-out alternate infinite;
    }
  }

  @keyframes levitate {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10px);
    }
  }

  @keyframes levitate-shadow {
    from {
      transform: translateX(-50%) translateY(0) rotateX(85deg) scale(1);
    }
    to {
      transform: translateX(-50%) translateY(10px) rotateX(85deg) scale(.8);
    }
  }
}

@media screen and (min-width: 768px) {
  .input[type=radio] + label {
    font-size: 1rem;
  }
}
