---
---

@import 'style';

$name: (
	"b": 297.1285705566406,
	"j": 150.64950561523438,
	"o": 250.4888458251953,
	"r": 225.0975341796875,
	"n": 242.292236328125,
	"l": 151.68516540527344,
	"u": 234.8412322998047
);

$hex-color: $dark;
$glow-color: $primary-300;
$name-color: $gray-100;

$start-delay: 0;
$hex-down-duration: .3;
$hex-down-delay: .1;
$hex-final-duration: $hex-down-duration + $hex-down-delay * 5;
$name-stroke-duration: 1;
$name-fill-duration: 1;
$all-up-duration: 1.5;

:root {
	--story-play-state: paused;
}

#home-header {
  position: relative;
  display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: none;
	background-color: $glow-color;
}

#hex {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: $hex-color;
}

#name {
  position: relative;
  z-index: 2;
	width: 50%;
	min-width: 280px;
}

@for $i from 1 through 5 {
	#step-#{$i} {
		transform: scale(1.05);
		animation: step-scale #{$hex-down-duration}s #{$i * $hex-down-delay + $start-delay}s ease forwards;
		animation-play-state: var(--story-play-state);
	}
}

@keyframes step-scale {
	from { transform: scale(1.05); }
	to { transform: scale(1); }
}

@each $char, $length in $name {
	##{$char} {
		stroke: $name-color;
		stroke-width: 3px;
		stroke-dasharray: $length;
		stroke-dashoffset: $length;
		fill: transparent;
		animation: #{$char}-stroke #{$name-stroke-duration}s #{$start-delay + $hex-final-duration}s ease forwards, char-fill #{$name-fill-duration}s #{$start-delay + $hex-final-duration + $name-stroke-duration}s ease forwards;
		animation-play-state: var(--story-play-state);
	}
	
	@keyframes #{$char}-stroke {
		from { stroke-dashoffset: $length; }
		to { stroke-dashoffset: 0; }
	}
}

@keyframes char-fill {
	from { fill: transparent; }
	to { fill: $name-color; stroke-opacity: 0; }
}

@keyframes hero-fade {
  from {
    opacity: 0;
    transform: scale(.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#projects {
	width: 100vw;
  margin: 5rem calc(50% - 50vw) 0;
	background-color: $gray-800;
	color: $gray-100;

  .card {
    width: 250px;
    margin: 1rem auto;
		background-color: var(--gray-100);
		color: var(--gray-900);

    .card-image {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
	}
	
	.btn {
		background-color: var(--gray-100);
		border: 1px solid var(--gray-100);
	}
} 

@media screen and (min-width: 992px) {
  #projects {
    margin-top: 7rem;
  
    .card {
      transform: translateY(-4rem);
      transition: transform .3s $ease;

      &:hover {
        transform: translateY(-5rem);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  #projects {
		.card {
			background-color: $gray-700;
		}

		.btn {
			background-color: $gray-700;
		}
	}
}
