:root {
  --primary-lightest: #cedafc;
  --primary-light: #a8befc;
  --primary-default: #7ea1ff;
  --primary-dark: #476cd4;
  --primary-darkest: #132b6e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A4 size (210mm x 297mm) */
article {
  width: 1050px;
  height: 1485px;
  padding: 2rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content max-content;
  grid-template-areas: "header header" "left right";
  gap: 2rem;
}

header {
  grid-area: header;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", serif;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 0.3rem;
}

h2 {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 0.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 0.2rem;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 600;
  color: var(--primary-dark);
  text-decoration: none;
}

a:visited {
  color: var(--primary-darkest);
}

table td {
  padding-bottom: 0.8rem;
}

table td:first-child {
  width: 90px;
  padding-right: 0.8rem;
  opacity: 0.8;
}

.intro-subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.3rem;
  opacity: 0.7;
}

.intro-description {
  font-size: 1.1rem;
}

.skills dl {
  margin: 0;
}

.skills dl dt {
  font-weight: bold;
}

.skills dl dd {
  margin-left: 0;
  margin-bottom: 0.7rem;
}

.projects {
  margin-top: 2rem;
}

.projects li {
  position: relative;
  padding-left: 0.7rem;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.projects li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  border-left: 3px solid var(--primary-default);
}

.projects li p {
  margin: 0.1rem 0;
}

.projects-more {
  opacity: 0.9;
}

.work {
  margin-top: 2rem;
}

.education {
  margin-top: 2rem;
}

#pdf {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.8rem 1rem;
  margin: 2rem;
  background-color: var(--primary-dark);
  color: white;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease-in;
}

#pdf:hover,
#pdf:focus {
  background-color: var(--primary-default);
}
